<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>

<body>
<nav th:replace="fragments/nav"/>

<div class="container" id="main-container">
    <h2>Agregar Repostaje</h2>
    <form class="form-horizontal" method="post" action="/refuel/add" th:object="${refuel}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="stationName">Nombre de Estación: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="stationName" name="stationName"
                       placeholder="Nombre de Estación"/>
                <span class="text-danger" th:if="${#fields.hasErrors('stationName')}" th:errors="*{stationName}"></span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pricePerUnit">Precio por unidad: </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="pricePerUnit" name="pricePerUnit"
                       placeholder="Precio por unidad" step="0.01"/>
                <span class="text-danger" th:if="${#fields.hasErrors('pricePerUnit')}" th:errors="*{pricePerUnit}"></span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="quantity">Cantidad repostada: </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="quantity" name="quantity"
                       placeholder="Cantidad repostada" step="0.01"/>
                <span class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-4 d-flex justify-content-around align-items-left">
                <label class="control-label" for="isTankFull">El tanque se ha rellenado por completo</label>
                <input type="checkbox" class="form-control-input" id="isTankFull" name="isTankFull">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="odometerRefuelValue">Valor del odométro: </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="odometerRefuelValue" name="odometerRefuelValue"
                       placeholder="Valor del odometro" step="0.01"/>
                <span class="text-danger" th:if="${#fields.hasErrors('odometerRefuelValue')}"
                                                    th:errors="*{odometerRefuelValue}"></span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="observations">Observaciones: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="observations" name="observations"
                       placeholder="Observaciones"/>
                <span class="text-danger" th:if="${#fields.hasErrors('observations')}"
                                        th:errors="*{observations}"></span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>


</body>
</html>
