<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trayectos del Vehículo</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="fragments/nav"/>

<div class="container">
    <h2>Trayectos de <span th:text="${vehicle.plate}"></span></h2>
    <p>Listado de trayectos registrados para este vehículo:</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Conductor</th>
            <th>Odómetro Inicial</th>
            <th>Odómetro Final</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="route : ${routes}">
            <td th:text="${route.employee.getName()}"></td>
            <td th:text="${route.odometerInitValue}"></td>
            <td th:text="${route.odometerFinalValue}"></td>
        </tr>
        </tbody>
    </table>

    <a href="/vehicle/list/available" class="btn btn-primary">Volver</a>
</div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
